* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
}

h2 {
  overflow-y: hidden;
}

body {
  background-color: rgb(235, 235, 235);
}

footer {
  background-color: white;
}

img {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  overflow-y: hidden;
}

.product__footer {
  background-color: #f7f7f7;
}





/* NAVIGATION */

/* optical2024__dynamic--header */

.dynamic-header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 28px;
  padding-bottom: 2px;
  
  z-index: 21;
}


.menu--open .dynamic-header {
  display: none;
}
.menu--open .optical2024__dynamic--header {
  display: flex;
}


.dynamic-header__text {
  color: #666666;
  font-size: 12px;
}

#carouselExampleAutoplaying {
  text-align: center;
  width: 50%;
}

.margiela-bg-img {
  background-image: url(./assets/background-images/story-main-banner-pc.jpg);
  background-size: cover;
  height: 100vh;
  background-position-y: -3rem;
}

.discover__collection2024--bg__img {
  background-image: url(./assets/background-images/campaign_pc_1-1.avif);
  background-size: cover;
  height: 110vh;
  position: relative;
}

.logo__wrapper {
  width: 290px;
  padding: 32px;
}

.collection2024__nav--elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  overflow-y: hidden;
  width: 100%;
  z-index: 50;
}

.optical2024__nav--elements {
  
  justify-content: space-between;
  align-items: center;
  height: 70px;
  overflow-y: hidden;
  width: 100%;
  z-index: 50;
  position: fixed;
  filter: invert();
  background-color: black;
  margin-top: 28px;
  display: none;
  
}
.optical2024__nav--elements2 {
  
  justify-content: space-between;
  align-items: center;
  height: 70px;
  overflow-y: hidden;
  width: 100%;
  z-index: 50;
  position: fixed;
  filter: invert();
  background-color: black;
  margin-top: 28px;
  display: flex;
  
}

.menu--open .optical2024__nav--elements {
  display: flex;
  
}


.optical2024__dynamic--header {
  background-color: white;
  border-bottom: rgb(179, 179, 179) solid 1px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 29px;
  position: fixed;
  z-index: 51;
  display: none;
}

.optical2024__dynamic--header2 {
  background-color: white;
  border-bottom: rgb(234, 234, 234) solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 29px;
  position: fixed;
  z-index: 51;
  /* display: none; */
}

.nav__elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  z-index: 50;
  
}

.menu--open .nav__elements {
  display: none;
}


.nav__links {
  color: white;
  display: flex;
  list-style: none;
  gap: 25px;
  font-weight: 100;
}

.user__buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.shop__button {
  background: none;
  border: none;
  color: white;
}

.search__button {
  filter: invert();
  height: 40px;
  overflow-y: hidden;
  margin-bottom: 0;
}

.bag__button {
  filter: invert();
  height: 35px;
  overflow-y: hidden;
  margin-bottom: 0;
}


/* CART */



.cart__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  position: fixed;
  z-index: 1;
  display: none;
}

.menu--open .cart__wrapper {
  display: flex;
}



.cart__divider {
 width: 70%;
 height: 100%;
 background-color: black;
 opacity: 55%;
 z-index: 3;
}

.cart__divider:hover {
  opacity: 40%;
  cursor: pointer;
}

.cart__main {
  height: 100%;
  width: 30%;
  background-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__main--wrapper {
  padding: 24px;
}

.cart__container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.cart__product--container{
  display: flex;
  padding-top: 16px;
}

h6 {
  overflow-y: hidden;
}

.cart__product--name {
  display: flex;
  flex-direction: column;
}

.cart__product--price {
  overflow-y: hidden;
  font-size: 16px;
  font-weight: 400;
}

.cart__counter {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  border: solid black 1px;

}

.cart__product--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 78%;
  padding: 0px 12px 0px 12px ;
  
}

.cart__counter--container{
  display: flex;
  justify-content: space-between;
  
}

.counter__piece {
padding: 2px;
padding-right: 8px;
}

.counter__piece--number {
padding: 2px;

}

.counter__piece--plus {
padding: 2px;
padding-left: 8px;
}

.cart__product--img {
  width: 80px;
  margin-bottom: 0;
}

.cart__header {
  padding-bottom: 8px;
  margin-bottom: 0;
  font-size: 16px;
}

.close__icon {
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.cart__total--container {
  width: 95%;
  padding: 24px;
  
}

.total__text {
  display: flex;
  justify-content: space-between;
  
}
.total__text--shipping {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  border-top: gray solid 1px;
}

.checkout__button {
  background-color: black;
  margin: 32px 0px 16px 0px;
  color: white;
  height: 40px;
  width: 100%;
}

.view__bag--button {
  background-color: white;
  color: black;
  height: 40px;
  width: 100%;
  border:  black 1px solid;
}

.checkout__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MAIN */

.margiela__x--gentle__monster--img__container {
  width: 400px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 120px;
}

.margiela__x--gentle__monster--img__container2 {
  width: 400px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 120px;
  filter: invert();
  z-index: 20;
}

#margiela__video {
  overflow-y: hidden;
}

.link__container {
  display: flex;
  justify-content: center;
  color: white;
  z-index: 10;
}

.splash__link {
  border-bottom: solid white 1px;
  z-index: 20;
}

.link__margin {
  margin-right: 21px;
}

/* VIDEO SECTION */

.video__container {
  position: relative;
}

.splash__video {
  transform: scale(1.02);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* 2024 COLLECTION */

.collection2024__bg--img {
  background-image: url(./assets/background-images/campaign-main-banner-pc.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.collection2024__text {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  overflow-y: hidden;
}

.collection2024__link--container {
  display: flex;
  position: absolute;
  bottom: 105px;
}

.collection__heading {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 1px 1px 2px rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
}

.collection__header {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.collection__para {
  /* position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 1px 1px 2px rgb(46, 46, 46); */
  padding-top: 24px;
}

.collection2024__products {
  display: flex;
  margin-bottom: 64px;
}

.large__product {
  width: 50%;
  overflow-y: hidden;
}

.large__product--tile {
  height: 100%;
  overflow-y: hidden;
  padding: 0px 1px 0px 1px;
  position: relative;
}
.tile__products {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
}

.product__tile {
  height: 50%;
  width: 50%;
  overflow-y: hidden;
  padding: 0px 0.7px 0px 0.7px;
  position: relative;
  margin-bottom: 0px;
}

.product__name {
  position: absolute;
  bottom: 42px;
  left: 24px;
  color: white;
  font-size: 10px;
}

.product__link {
  font-size: 15px;
  text-decoration: underline;
}

.tile__padding {
  padding-top: 1px;
}

.gradient__banner {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 265px;
  background: radial-gradient(
    88.93% 1072.21% at 11.07% 0%,
    #ddd4d9 0%,
    #bfc9db 100%
  );
}

.gradient__header {
  padding-bottom: 64px;
}

.collection2024__gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 235, 235);
}
.collection__gallery--pic1 {
  width: 90%;
  padding: 42px;
}
.collection__gallery--pic2 {
  width: 65%;
  padding: 42px;
}
.collection__gallery--pic3 {
  width: 50%;
  padding: 42px;
}
.collection__gallery--pic4 {
  width: 80%;
  padding: 42px;
}
.collection__gallery--pic5 {
  width: 70%;
  padding: 42px;
}
.collection__gallery--pic6 {
  width: 60%;
  padding: 32px;
}
.collection__gallery--pic7 {
  width: 50%;
  padding: 32px;
}
.collection__gallery--link {
  color: black;
  text-decoration: underline;
  margin-bottom: 150px;
}
.collection__gallery--link2 {
  color: black;
  text-decoration: underline;
  margin-bottom: 48px;
  margin-top: 72px;
}
/* OPTICAL COLLECTIOn */

.optical__colllection--bg__img {
  background-image: url(./assets/background-images/optical-collection-main-banner-pc.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.black__text {
  color: black;
}

.black__splash--link {
  border-bottom: solid black 1px;
  z-index: 20;
}

.category__carousel--container {
  background-color: white;
  height: 300px;
  width: 100%;
}

.category__carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 16px 32px 16px;
  position: relative;
}

.category__img--container {
  height: 70px;
  width: 70px;
  overflow-y: hidden;
  border-radius: 9999px;
  transition: 500ms ease;
  outline: solid rgba(0, 0, 0, 0) 1px;
  outline-offset: 4px;
  cursor: pointer;
}

.selected__category--img__container {
  height: 70px;
  width: 70px;
  overflow-y: hidden;
  border-radius: 9999px;
  outline: solid black 1px;
  outline-offset: 4px;
  cursor: pointer;
}

.category__img--container:hover {
  outline: solid black 1px;
  outline-offset: 4px;
}

.category__title {
  color: rgb(84, 84, 84);
  font-size: small;
  height: 32px;
  display: block;
  text-align: center;
}

.title__header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.optical__desc--container {
  display: flex;
  background-color: white;
}

.optical__title {
  overflow-y: hidden;
  font-size: 24px;
  margin-bottom: 40px;
}

.optical__desc {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.optical__desc--img {
  width: 65%;
  height: 100%;
  overflow-y: hidden;
  padding: 0px 24px 0px 24px;
}

.header__button--container {
  display: flex;
}

.header__buttons {
  display: flex;
  align-items: center;
  padding: 8px;
}

.button__title {
  font-size: small;
  padding: 3px;
  margin-top: 4px;
}

.quickcol {
  width: 25px;
}

.category__img {
}

.product__title {
  font-size: 16px;
  padding: 16px;
}

.products {
  background-color: white;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
}
.product__container {
  background-color: white;
  width: 20%;
  padding: 56px 6px 0px 6px;
}

.product {
  width: 100%;
  
}


.products {
  display: flex;
}

.carousel-control-prev {
  filter: invert();
  width: 20px;
  margin-bottom: 12px;
}
.carousel-control-next {
  filter: invert();
    width: 20px;
    margin-bottom: 12px;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 40;
}

/* Change opacity of prev and next buttons on hover */
.product__img:hover + .carousel-control-prev,
.product__img:hover + .carousel-control-next {
  opacity: 1;
}

.product__name2 {
  font-size: medium;
  padding-bottom: 3px;
  margin-bottom: 0px;
}

.product__price {
  margin-bottom: 0px;
}

.optical__product--buttons {
  display: flex;
    align-items: center;
    height: 32px;
    justify-content: space-between;
}

.optical__product--link {
  color: #439be8;
  font-size: small;
}

.heart__icon {
  width: 22px;
  overflow-y: hidden;
  margin-bottom: 0;
}

.heart__icon:hover {
  color: #c45858;
}

.product__colors {
  padding-top: 3px;
}

.red-text {
  color: #c45858;
}

/* LOGIN PAGE */


#login {
  background-color: white;
}


.login__spacer {
  margin: 90px 0px 200px 0px;
  background-color: white;
}


.login__container {
  width: 100%;
  height: 100%;
  background-color: white;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  
}

.header__wrapper {
  width: 100%;
  padding: 8px;
  overflow-y: hidden;
}

.login__header{
  height:24px;
  font-size: medium;
 width: 100%;
 margin-bottom: 0;
 overflow-y: hidden;
}

.login__header2{
  height:24px;
  font-size: medium;
 width: 100%;
 margin-bottom: 8px;
 overflow-y: hidden;
font-weight: 400;
}

.login__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

 width: 30%;
 overflow-y: hidden;
}

.email__wrapper {
  width: 100%;
  padding: 8px;
  margin-top: 18px;
  overflow-y: hidden;
}

.password__wrapper {
  width: 100%;
  padding: 8px;
  margin-top: 18px;
  overflow-y: hidden;
}

#email {
  
  border-radius: 0px;
  border-style: none;
  border: solid black 1px;
  outline: none;
  width: 100%;
  height: 40px;
  padding: 8px;
}

#password {
  border-radius: 0px;
  border-style: none;
  border: solid black 1px;
  outline: none;
  width: 100%;
  height: 40px;
  padding: 8px;
}

.fg-wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
  margin: 18px 0px 18px 0px ;
  padding: 8px;
 
} 

.fg {
  border-bottom: solid 1px black;
  overflow-y: hidden;
}

.or {
  overflow-y: hidden;
}

.login__button {
  background-color: black;
  width: 100%;
  color: white;
  padding: 8px;
 
}


.fb__icon {
  width: 24px;
  margin-bottom: 0;
}

.apple__icon {
  width: 16px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.facebook__button {
  display: flex;
  background-color: #1877f2;
  width: 100%;
  color: white;
  padding: 8px;
 height: 40px;
 overflow-y: hidden;
 align-items: center;
 justify-content: space-between;
}

.apple__button {
  display: flex;
  background-color: white;
  width: 100%;
  color: black;
  padding: 8px;
 height: 40px;
 overflow-y: hidden;
 align-items: center;
 justify-content: space-between;
 border: solid black 1px;
 margin-top: 12px;
}

.button__wrapper {
  width: 100%;
  padding: 10px;
  overflow-y: hidden;
}

.create__acc--para{
  font-size: 16px;
  margin-top: 16px ;
  padding: 8px;
}

.create__acc--wrapper {
  width: 100%;
  padding-top: 56px;
  overflow-y: hidden;
}

/* PRODUCT PAGE */

#product__section {
  margin-top: 99px;
 
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
}

.product__display--container{
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 400px;
}


.product__display {
  width: 50%;
  margin-bottom: 0;
  padding-right: 16px;
  padding-bottom: 16px;
}

.product__info {
width: 30%;
}

.info__header--container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 70px 0px 70px;
}

.info__header {
  font-size: 20px;
  padding-bottom: 3px;
}

.info__header2 {
  font-size: 16px;
  padding-bottom: 3px;
}

.selected__info--product__pic {
  width: 70px;
  height: 70px;
  border: solid black 1px;
  border-radius: 3px;
  margin-right: 12px;
}

.info__product--pic {
  width: 70px;
  height: 70px;
  
  border-radius: 3px;
  border: rgba(0, 0, 0, 0) solid 1px;
  transition: 600ms all ease;
}

.info__product--pic:hover {
  border: black solid  1px;
}

.info__product--colors {
display: flex;
padding: 32px 70px 0px 70px;
}

.info__para--container {
  padding: 0px 70px 32px 70px;
}

.button__container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.shopping__button {
  background-color: black;
  color: white;
  border-radius: 9999px;
  width: 65%;
  padding: 16px;
  margin-bottom: 8px;
}

.atc__button{
  border: black solid 1px;
  border-radius: 9999px;
  width: 65%;
  padding: 16px;
}

.puis__button{
  border: black solid 1px;
  border-radius: 5px;
  width: 65%;
  padding: 10px;
 
}

.pin {
  width: 24px;
}

aside {
  padding: 24px 70px 32px 70px;
  font-size: small;
  font-weight: 500;
}

.accordion__container {
 padding: 18px 70px 0px 70px ;

}

.list__items {
 list-style-type: none;
}

.list__item {
  padding: 4px;
}

.circle {
  width: 5px;
  height: 10px;
  margin-right: 8px;
}

.gw--image {
  padding: 12px;
}

.discov__link {
  border-bottom: black solid 1px;
  cursor: pointer;
}



/* FOOTER */

.footer__link--container {
  display: flex;
  padding: 40px;
}

.footer__header {
  font-weight: bold;
  color: black;
  padding-bottom: 16px;
}

.footer__links {
  color: gray;
  width: 20%;
}

.copyright__container {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}
