* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    
}

img {
    height: 100%;
    width: 100%;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}



/* NAVIGATION */

.dynamic-header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
}

.dynamic-header__text {
    color: gray;
    font-size: 12px;
}

.margiela-bg-img {
    background-image: url(./assets/background-images/story-main-banner-pc.jpg);
    background-size: cover;
    height: 100vh;
    background-position-y: -3rem ;
}

.logo__wrapper {
    width: 290px;
    padding: 32px;
}



.nav__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    overflow-y: hidden;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.nav__links {
    color: white;
    display: flex;
    list-style: none;
    gap: 20px;
}

.user__buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.shop__button {
    background: none;
    border: none ;
    color: white;
    
}

.search__button {
    filter: invert();
    height: 40px;
    overflow-y: hidden;
}

.bag__button {
    filter: invert();
    height: 35px;
    overflow-y: hidden;
}

/* MAIN */

.margiela__x--gentle__monster--img__container {
    width: 400px;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    bottom: 120px;
}

.margiela__x--gentle__monster--img__container2 {
    width: 400px;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    bottom: 120px;
    filter: invert();
    z-index: 20;
}

.link__container {
    display: flex;
    justify-content: center;
    color: white;
    z-index: 10;
}

.splash__link {
    border-bottom: solid white 1px;
    z-index: 20;
}

.link__margin {
    margin-right: 21px;
}

/* VIDEO SECTION */

.video__container {
    position: relative;
}

.splash__video {
    transform: scale(1.01);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* 2024 COLLECTION */

.collection2024__bg--img {
    background-image: url(./assets/background-images/campaign-main-banner-pc.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.collection2024__text {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.collection2024__link--container {
    display: flex;
    position: absolute;
    bottom: 60px;
}

/* OPTICAL COLLECTIOn */

.optical__colllection--bg__img {
    background-image: url(./assets/background-images/optical-collection-main-banner-pc.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}


.black__text {
    color: black;
}

.black__splash--link {
    border-bottom: solid black 1px;
    z-index: 20;
}
